#WRAPPER {
   width: 300px;
   border: 0.5px solid grey;
   padding: 8px;
   border-radius: 1.2rem;
   height: 400px;
}
#DIV1 {
   color: magenta;
   font-size: 1.3rem;

}
#DIV2 {
   color: blanchedalmond;
   margin-top: 10px;
   display: block;

}

#DIV3 {
   border: 0.1px solid grey;
   color: thistle;
   width: 100% - 10px;
   height: 100% - 180px;
   white-space:normal;
   word-break:normal;
   overflow: hidden;
   line-break: inherit;
   font-size: 1rem;
   line-height: 1.4em;
   padding: 5px;
}

#PP {
   font-size: 1.2rem;
}

#IMG {
   border-radius: 1.5rem;
   display: block;
   margin-left: auto;
   margin-right: auto 
}

.center {
   margin: auto;
   text-align: center;
   width: 100%;
}