#WRAPPER {
   width: 300px;
   border: 0.5px solid grey;
   padding: 5px;
}
#DIV1 {
   font-size: 1.3rem;

}
#DIV2 {

   margin-top: 10px;
   display: block;

}

#DIV3 {
   width: 100%;
   height: 400px;
   overflow: hidden;
   line-break: inherit;
   font-size: 1rem;
   overflow-y: scroll;
}

#PP {
   font-size: 1.2rem;
}

#IMG {
   border-radius: 1.5rem;
   display: block;
   margin-left: auto;
   margin-right: auto 
}

.center {
   margin: auto;
   text-align: center;
   width: 100%;
}