#WRAPPER {
   width: 300px;
   border: 1px solid grey;
   padding: 3px;
}
#DIV1 {
   font-size: 1.3rem;

}
#DIV2 {
   display: inline;

}

#DIV3 {
   width: 100%;
   height: 400px;
   overflow: hidden;
   line-break: inherit;
   font-size: 1rem;
}

#PP {
   font-size: 1.2rem;
}

#IMG {
   border-radius: 1.5rem;
   display: block;
   margin-left: auto;
   margin-right: auto 
}

.center {
   margin: auto;
   text-align: center;
   width: 100%;
}